* {
  padding: 0;
  margin: 0;
  border: none;
  font-kerning: none;
  outline: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */

a {
  color: inherit;
}

a, a:link, a:visited  {
  text-decoration: none;
}

a:hover  {
  text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}
